**/.vitepress/theme/** -linguist-detectable
icons/fonts/** -linguist-generated
*.html -linguist-detecabtle
**/ProIcons.css -linguist-detectable
**/ProIcons.luau linguist-generated
**/src/icons.ts linguist-generated
**/src/iconList.ts linguist-generated
**/src/categories.ts linguist-generated
