{
    "semi": false,
    "arrowParens": "avoid",
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 90,
    "endOfLine": "lf",
    "tabWidth": 4,
    "switchCase": false,
    "vueIndentScriptAndStyle": false,
    "svelteIndentScriptAndStyle": false,
    "overrides": [
        {
            "files": ["icons/*.json"],
            "options": {
                "printWidth": 120
            }
        },
        {
            "files": [".github/**/*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
