/* Custom block */
.warning.custom-block .custom-block-title {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/alert-triangle.svg")
}

.danger.custom-block .custom-block-title {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/alert-circle.svg")
}

.tip.custom-block .custom-block-title {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/lightbulb.svg")
}

.info.custom-block .custom-block-title,
.note.custom-block .custom-block-title {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/info.svg")
}

/* Icons */
:root {
    --vp-icon-copy: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/clipboard.svg");
    --vp-icon-copied: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/checkmark.svg");
}

.vpi-align-left {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/menu.svg");
}

.vpi-social-github {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/github.svg");
}

.vpi-more-horizontal {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/more.svg");
}

.vpi-chevron-right,
.vpi-chevron-down,
.vpi-chevron-left,
.vpi-chevron-up {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/chevron-right.svg");
}

.vpi-square-pen {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/pencil.svg");
}

.vpi-search {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/search.svg");
}

.vpi-social-x,
.vpi-social-twitter {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/x-twitter.svg");
}

.vpi-square-pen {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/pencil.svg");
}

.vpi-plus {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/add.svg");
}

.vpi-sun {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/brightness.svg");
}

.vpi-moon {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/moon.svg");
}

.vpi-arrow-right,
.vpi-arrow-down,
.vpi-arrow-left,
.vpi-arrow-up {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/arrow-up.svg");

}

.vpi-heart {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/heart.svg");
}

.vpi-layout-list {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/text-bullet-list.svg");
}

.vpi-delete {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/cancel.svg");
}

.vpi-corner-down-left {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/arrow-enter.svg");
}

:is(.vp-external-link-icon, .vp-doc a[href*="://"], .vp-doc a[target=_blank]):not(.no-icon):after {
    --icon: url("https://raw.githubusercontent.com/ProCode-Software/proicons/main/icons/svg/open.svg");
}