@font-face {
  font-display: block;
  font-family: "ProIcons";
  src: url("./ProIcons.ttf?2a1fff4daa79a205ffa1387a03c4f818") format("truetype"),
url("./ProIcons.woff?2a1fff4daa79a205ffa1387a03c4f818") format("woff"),
url("./ProIcons.woff2?2a1fff4daa79a205ffa1387a03c4f818") format("woff2"),
url("./ProIcons.eot?2a1fff4daa79a205ffa1387a03c4f818#iefix") format("embedded-opentype");
}

i[class^="proicon-"]::before, i[class*=" proicon-"]::before {
  font-family: ProIcons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.proicon-add::before {
  content: "\e000";
}
.proicon-add-circular::before {
  content: "\e001";
}
.proicon-add-rhombus::before {
  content: "\e002";
}
.proicon-add-square::before {
  content: "\e003";
}
.proicon-add-square-multiple::before {
  content: "\e004";
}
.proicon-add-square-multiple-var::before {
  content: "\e005";
}
.proicon-app-remove::before {
  content: "\e006";
}
.proicon-apps::before {
  content: "\e007";
}
.proicon-apps-add::before {
  content: "\e008";
}
.proicon-backspace::before {
  content: "\e009";
}
.proicon-cancel::before {
  content: "\e00a";
}
.proicon-checkmark::before {
  content: "\e00b";
}
.proicon-compose::before {
  content: "\e00c";
}
.proicon-copy::before {
  content: "\e00d";
}
.proicon-copy-var::before {
  content: "\e00e";
}
.proicon-crop::before {
  content: "\e00f";
}
.proicon-cut::before {
  content: "\e010";
}
.proicon-delete::before {
  content: "\e011";
}
.proicon-eye::before {
  content: "\e012";
}
.proicon-eye-off::before {
  content: "\e013";
}
.proicon-fast-foward::before {
  content: "\e014";
}
.proicon-heart::before {
  content: "\e015";
}
.proicon-heart-stylistic::before {
  content: "\e016";
}
.proicon-keyboard-shift::before {
  content: "\e017";
}
.proicon-more::before {
  content: "\e018";
}
.proicon-more-vertical::before {
  content: "\e019";
}
.proicon-pause::before {
  content: "\e01a";
}
.proicon-pencil::before {
  content: "\e01b";
}
.proicon-play::before {
  content: "\e01c";
}
.proicon-play-circular::before {
  content: "\e01d";
}
.proicon-reverse::before {
  content: "\e01e";
}
.proicon-search::before {
  content: "\e01f";
}
.proicon-star::before {
  content: "\e020";
}
.proicon-tune::before {
  content: "\e021";
}
.proicon-checkmark-starburst::before {
  content: "\e022";
}
.proicon-credit-card::before {
  content: "\e023";
}
.proicon-lock::before {
  content: "\e024";
}
.proicon-lock-open::before {
  content: "\e025";
}
.proicon-shield::before {
  content: "\e026";
}
.proicon-shield-cancel::before {
  content: "\e027";
}
.proicon-shield-checkmark::before {
  content: "\e028";
}
.proicon-shield-keyhole::before {
  content: "\e029";
}
.proicon-chat::before {
  content: "\e02a";
}
.proicon-cloud::before {
  content: "\e02b";
}
.proicon-comment::before {
  content: "\e02c";
}
.proicon-comment-multiple::before {
  content: "\e02d";
}
.proicon-comment-multiple-var::before {
  content: "\e02e";
}
.proicon-database::before {
  content: "\e02f";
}
.proicon-database-add::before {
  content: "\e030";
}
.proicon-globe::before {
  content: "\e031";
}
.proicon-mail::before {
  content: "\e032";
}
.proicon-mail-open::before {
  content: "\e033";
}
.proicon-megaphone::before {
  content: "\e034";
}
.proicon-megaphone-loud::before {
  content: "\e035";
}
.proicon-mention::before {
  content: "\e036";
}
.proicon-narrator::before {
  content: "\e037";
}
.proicon-person::before {
  content: "\e038";
}
.proicon-person-2::before {
  content: "\e039";
}
.proicon-person-add::before {
  content: "\e03a";
}
.proicon-person-add-2::before {
  content: "\e03b";
}
.proicon-person-circle::before {
  content: "\e03c";
}
.proicon-person-multiple::before {
  content: "\e03d";
}
.proicon-phone-accept::before {
  content: "\e03e";
}
.proicon-phone-hang-up::before {
  content: "\e03f";
}
.proicon-send::before {
  content: "\e040";
}
.proicon-wi-fi::before {
  content: "\e041";
}
.proicon-anchor::before {
  content: "\e042";
}
.proicon-attatch::before {
  content: "\e043";
}
.proicon-book-info-2::before {
  content: "\e044";
}
.proicon-calendar::before {
  content: "\e045";
}
.proicon-diamond::before {
  content: "\e046";
}
.proicon-eraser::before {
  content: "\e047";
}
.proicon-eyedropper::before {
  content: "\e048";
}
.proicon-eyedropper-color::before {
  content: "\e049";
}
.proicon-flashlight::before {
  content: "\e04a";
}
.proicon-gift::before {
  content: "\e04b";
}
.proicon-hat-graduation::before {
  content: "\e04c";
}
.proicon-highlighter::before {
  content: "\e04d";
}
.proicon-hourglass::before {
  content: "\e04e";
}
.proicon-layers::before {
  content: "\e04f";
}
.proicon-lightbulb::before {
  content: "\e050";
}
.proicon-link::before {
  content: "\e051";
}
.proicon-microphone::before {
  content: "\e052";
}
.proicon-microphone-off::before {
  content: "\e053";
}
.proicon-pin::before {
  content: "\e054";
}
.proicon-pin-off::before {
  content: "\e055";
}
.proicon-timer::before {
  content: "\e056";
}
.proicon-wrench::before {
  content: "\e057";
}
.proicon-alert-circle::before {
  content: "\e058";
}
.proicon-alert-triangle::before {
  content: "\e059";
}
.proicon-arrow-sync::before {
  content: "\e05a";
}
.proicon-arrow-sync-2::before {
  content: "\e05b";
}
.proicon-badge::before {
  content: "\e05c";
}
.proicon-bell::before {
  content: "\e05d";
}
.proicon-cancel-circle::before {
  content: "\e05e";
}
.proicon-cancel-square::before {
  content: "\e05f";
}
.proicon-checkmark-circle::before {
  content: "\e060";
}
.proicon-clock::before {
  content: "\e061";
}
.proicon-do-not-disturb::before {
  content: "\e062";
}
.proicon-info::before {
  content: "\e063";
}
.proicon-prohibited::before {
  content: "\e064";
}
.proicon-spinner::before {
  content: "\e065";
}
.proicon-emoji::before {
  content: "\e066";
}
.proicon-emoji-frown::before {
  content: "\e067";
}
.proicon-emoji-grin::before {
  content: "\e068";
}
.proicon-emoji-laughter::before {
  content: "\e069";
}
.proicon-skull::before {
  content: "\e06a";
}
.proicon-arrow-clockwise::before {
  content: "\e06b";
}
.proicon-arrow-counterclockwise::before {
  content: "\e06c";
}
.proicon-arrow-down::before {
  content: "\e06d";
}
.proicon-arrow-download::before {
  content: "\e06e";
}
.proicon-arrow-enter::before {
  content: "\e06f";
}
.proicon-arrow-export::before {
  content: "\e070";
}
.proicon-arrow-foward::before {
  content: "\e071";
}
.proicon-arrow-import::before {
  content: "\e072";
}
.proicon-arrow-left::before {
  content: "\e073";
}
.proicon-arrow-move::before {
  content: "\e074";
}
.proicon-arrow-redo::before {
  content: "\e075";
}
.proicon-arrow-redo-2::before {
  content: "\e076";
}
.proicon-arrow-reply::before {
  content: "\e077";
}
.proicon-arrow-right::before {
  content: "\e078";
}
.proicon-arrow-rotate-clockwise::before {
  content: "\e079";
}
.proicon-arrow-rotate-counterclockwise::before {
  content: "\e07a";
}
.proicon-arrow-sort::before {
  content: "\e07b";
}
.proicon-arrow-swap::before {
  content: "\e07c";
}
.proicon-arrow-trending::before {
  content: "\e07d";
}
.proicon-arrow-undo::before {
  content: "\e07e";
}
.proicon-arrow-undo-2::before {
  content: "\e07f";
}
.proicon-arrow-up::before {
  content: "\e080";
}
.proicon-arrow-up-down::before {
  content: "\e081";
}
.proicon-arrow-left-right::before {
  content: "\e082";
}
.proicon-arrow-upload::before {
  content: "\e083";
}
.proicon-chevron-down::before {
  content: "\e084";
}
.proicon-chevron-left::before {
  content: "\e085";
}
.proicon-chevron-right::before {
  content: "\e086";
}
.proicon-chevron-up::before {
  content: "\e087";
}
.proicon-subtract::before {
  content: "\e088";
}
.proicon-document::before {
  content: "\e089";
}
.proicon-draw-text::before {
  content: "\e08a";
}
.proicon-note::before {
  content: "\e08b";
}
.proicon-note-add::before {
  content: "\e08c";
}
.proicon-quote::before {
  content: "\e08d";
}
.proicon-spacebar::before {
  content: "\e08e";
}
.proicon-symbols::before {
  content: "\e08f";
}
.proicon-text::before {
  content: "\e090";
}
.proicon-text-add::before {
  content: "\e091";
}
.proicon-text-align-center::before {
  content: "\e092";
}
.proicon-text-align-justify::before {
  content: "\e093";
}
.proicon-text-align-left::before {
  content: "\e094";
}
.proicon-text-align-right::before {
  content: "\e095";
}
.proicon-text-bold::before {
  content: "\e096";
}
.proicon-text-case-lowercase::before {
  content: "\e097";
}
.proicon-text-case-title::before {
  content: "\e098";
}
.proicon-text-case-uppercase::before {
  content: "\e099";
}
.proicon-text-clear-formatting::before {
  content: "\e09a";
}
.proicon-text-collapse::before {
  content: "\e09b";
}
.proicon-text-color::before {
  content: "\e09c";
}
.proicon-text-edit-style::before {
  content: "\e09d";
}
.proicon-text-effects::before {
  content: "\e09e";
}
.proicon-text-expand::before {
  content: "\e09f";
}
.proicon-text-font::before {
  content: "\e0a0";
}
.proicon-text-font-size::before {
  content: "\e0a1";
}
.proicon-text-footnote::before {
  content: "\e0a2";
}
.proicon-text-highlight-color::before {
  content: "\e0a3";
}
.proicon-text-indent-decrease::before {
  content: "\e0a4";
}
.proicon-text-indent-increase::before {
  content: "\e0a5";
}
.proicon-text-italic::before {
  content: "\e0a6";
}
.proicon-text-large::before {
  content: "\e0a7";
}
.proicon-text-letter-spacing::before {
  content: "\e0a8";
}
.proicon-text-line-height::before {
  content: "\e0a9";
}
.proicon-text-line-spacing::before {
  content: "\e0aa";
}
.proicon-text-number-list::before {
  content: "\e0ab";
}
.proicon-text-position-bottom::before {
  content: "\e0ac";
}
.proicon-text-position-middle::before {
  content: "\e0ad";
}
.proicon-text-position-top::before {
  content: "\e0ae";
}
.proicon-text-small::before {
  content: "\e0af";
}
.proicon-text-strikethrough::before {
  content: "\e0b0";
}
.proicon-text-subscript::before {
  content: "\e0b1";
}
.proicon-text-superscript::before {
  content: "\e0b2";
}
.proicon-text-typography::before {
  content: "\e0b3";
}
.proicon-text-underline::before {
  content: "\e0b4";
}
.proicon-file::before {
  content: "\e0b5";
}
.proicon-file-add::before {
  content: "\e0b6";
}
.proicon-file-sync::before {
  content: "\e0b7";
}
.proicon-folder::before {
  content: "\e0b8";
}
.proicon-folder-add::before {
  content: "\e0b9";
}
.proicon-folder-open::before {
  content: "\e0ba";
}
.proicon-hard-drive::before {
  content: "\e0bb";
}
.proicon-pdf::before {
  content: "\e0bc";
}
.proicon-pdf-2::before {
  content: "\e0bd";
}
.proicon-photo::before {
  content: "\e0be";
}
.proicon-qr-code::before {
  content: "\e0bf";
}
.proicon-save::before {
  content: "\e0c0";
}
.proicon-save-as::before {
  content: "\e0c1";
}
.proicon-accessibility::before {
  content: "\e0c2";
}
.proicon-battery::before {
  content: "\e0c3";
}
.proicon-battery-full::before {
  content: "\e0c4";
}
.proicon-button::before {
  content: "\e0c5";
}
.proicon-checkbox-intermediate-2::before {
  content: "\e0c6";
}
.proicon-checkbox-unchecked::before {
  content: "\e0c7";
}
.proicon-checkmark-checked::before {
  content: "\e0c8";
}
.proicon-checkmark-intermediate::before {
  content: "\e0c9";
}
.proicon-closed-captions::before {
  content: "\e0ca";
}
.proicon-cursor::before {
  content: "\e0cb";
}
.proicon-cursor-click::before {
  content: "\e0cc";
}
.proicon-dark-theme::before {
  content: "\e0cd";
}
.proicon-extension::before {
  content: "\e0ce";
}
.proicon-menu::before {
  content: "\e0cf";
}
.proicon-settings::before {
  content: "\e0d0";
}
.proicon-zoom-in::before {
  content: "\e0d1";
}
.proicon-zoom-out::before {
  content: "\e0d2";
}
.proicon-airplane::before {
  content: "\e0d3";
}
.proicon-airplane-landing::before {
  content: "\e0d4";
}
.proicon-airplane-takeoff::before {
  content: "\e0d5";
}
.proicon-beach::before {
  content: "\e0d6";
}
.proicon-building-multiple::before {
  content: "\e0d7";
}
.proicon-component::before {
  content: "\e0d8";
}
.proicon-directions::before {
  content: "\e0d9";
}
.proicon-home::before {
  content: "\e0da";
}
.proicon-home-2::before {
  content: "\e0db";
}
.proicon-location::before {
  content: "\e0dc";
}
.proicon-map::before {
  content: "\e0dd";
}
.proicon-museum::before {
  content: "\e0de";
}
.proicon-vehicle-car::before {
  content: "\e0df";
}
.proicon-bar-graph::before {
  content: "\e0e0";
}
.proicon-box-margins::before {
  content: "\e0e1";
}
.proicon-clipboard::before {
  content: "\e0e2";
}
.proicon-clipboard-paste::before {
  content: "\e0e3";
}
.proicon-clipboard-search::before {
  content: "\e0e4";
}
.proicon-compare-size::before {
  content: "\e0e5";
}
.proicon-grid::before {
  content: "\e0e6";
}
.proicon-grid-dots::before {
  content: "\e0e7";
}
.proicon-layout::before {
  content: "\e0e8";
}
.proicon-page-margins::before {
  content: "\e0e9";
}
.proicon-panel-left::before {
  content: "\e0ea";
}
.proicon-panel-left-contract::before {
  content: "\e0eb";
}
.proicon-panel-left-expand::before {
  content: "\e0ec";
}
.proicon-panel-left-open::before {
  content: "\e0ed";
}
.proicon-panel-right-open::before {
  content: "\e0ee";
}
.proicon-panel-right::before {
  content: "\e0ef";
}
.proicon-panel-right-contract::before {
  content: "\e0f0";
}
.proicon-panel-right-expand::before {
  content: "\e0f1";
}
.proicon-table::before {
  content: "\e0f2";
}
.proicon-table-simple::before {
  content: "\e0f3";
}
.proicon-background-color::before {
  content: "\e0f4";
}
.proicon-border-all::before {
  content: "\e0f5";
}
.proicon-color-palette::before {
  content: "\e0f6";
}
.proicon-mask::before {
  content: "\e0f7";
}
.proicon-paint-bucket::before {
  content: "\e0f8";
}
.proicon-paintbrush::before {
  content: "\e0f9";
}
.proicon-paintbrush-2::before {
  content: "\e0fa";
}
.proicon-shape-difference::before {
  content: "\e0fb";
}
.proicon-shape-intersect::before {
  content: "\e0fc";
}
.proicon-shape-subtract::before {
  content: "\e0fd";
}
.proicon-shape-union::before {
  content: "\e0fe";
}
.proicon-stroke-thickness::before {
  content: "\e0ff";
}
.proicon-arrow-maximize::before {
  content: "\e100";
}
.proicon-arrow-minimize::before {
  content: "\e101";
}
.proicon-chrome-restore::before {
  content: "\e102";
}
.proicon-chrome-restore-var::before {
  content: "\e103";
}
.proicon-contract-down::before {
  content: "\e104";
}
.proicon-expand::before {
  content: "\e105";
}
.proicon-full-screen-maximize::before {
  content: "\e106";
}
.proicon-full-screen-minimize::before {
  content: "\e107";
}
.proicon-open::before {
  content: "\e108";
}
.proicon-picture-in-picture::before {
  content: "\e109";
}
.proicon-picture-in-picture-2::before {
  content: "\e10a";
}
.proicon-picture-in-picture-enter::before {
  content: "\e10b";
}
.proicon-picture-in-picture-exit::before {
  content: "\e10c";
}
.proicon-window::before {
  content: "\e10d";
}
.proicon-window-multiple::before {
  content: "\e10e";
}
.proicon-window-multiple-var::before {
  content: "\e10f";
}
.proicon-beaker::before {
  content: "\e110";
}
.proicon-braces::before {
  content: "\e111";
}
.proicon-braces-variable::before {
  content: "\e112";
}
.proicon-branch-::before {
  content: "\e113";
}
.proicon-branch-compare::before {
  content: "\e114";
}
.proicon-branch-fork::before {
  content: "\e115";
}
.proicon-branch-fork-2::before {
  content: "\e116";
}
.proicon-bug::before {
  content: "\e117";
}
.proicon-code::before {
  content: "\e118";
}
.proicon-git-commit::before {
  content: "\e119";
}
.proicon-script::before {
  content: "\e11a";
}
.proicon-script-2::before {
  content: "\e11b";
}
.proicon-terminal::before {
  content: "\e11c";
}
.proicon-video-clip::before {
  content: "\e11d";
}
.proicon-arc::before {
  content: "\e11e";
}
.proicon-circle::before {
  content: "\e11f";
}
.proicon-circle-small::before {
  content: "\e120";
}
.proicon-corner-radius::before {
  content: "\e121";
}
.proicon-hexagon::before {
  content: "\e122";
}
.proicon-line-diagonal::before {
  content: "\e123";
}
.proicon-octagon::before {
  content: "\e124";
}
.proicon-pentagon::before {
  content: "\e125";
}
.proicon-rectangle-wide::before {
  content: "\e126";
}
.proicon-rhombus::before {
  content: "\e127";
}
.proicon-square::before {
  content: "\e128";
}
.proicon-triangle::before {
  content: "\e129";
}
.proicon-background-color-accent::before {
  content: "\e12a";
}
.proicon-eyedropper-color-accent::before {
  content: "\e12b";
}
.proicon-highlighter-accent::before {
  content: "\e12c";
}
.proicon-paint-bucket-accent::before {
  content: "\e12d";
}
.proicon-tag-accent::before {
  content: "\e12e";
}
.proicon-text-color-accent::before {
  content: "\e12f";
}
.proicon-text-highlight-color-accent::before {
  content: "\e130";
}
.proicon-amazon::before {
  content: "\e131";
}
.proicon-app-store::before {
  content: "\e132";
}
.proicon-apple::before {
  content: "\e133";
}
.proicon-bluetooth::before {
  content: "\e134";
}
.proicon-css::before {
  content: "\e135";
}
.proicon-facebook::before {
  content: "\e136";
}
.proicon-figma::before {
  content: "\e137";
}
.proicon-github::before {
  content: "\e138";
}
.proicon-google::before {
  content: "\e139";
}
.proicon-google-2::before {
  content: "\e13a";
}
.proicon-google-chrome::before {
  content: "\e13b";
}
.proicon-google-play::before {
  content: "\e13c";
}
.proicon-html::before {
  content: "\e13d";
}
.proicon-instagram::before {
  content: "\e13e";
}
.proicon-javascript::before {
  content: "\e13f";
}
.proicon-microsoft::before {
  content: "\e140";
}
.proicon-microsoft-edge::before {
  content: "\e141";
}
.proicon-python::before {
  content: "\e142";
}
.proicon-roblox::before {
  content: "\e143";
}
.proicon-tiktok::before {
  content: "\e144";
}
.proicon-visual-studio-code::before {
  content: "\e145";
}
.proicon-x-twitter-::before {
  content: "\e146";
}
.proicon-youtube::before {
  content: "\e147";
}
.proicon-youtube-shorts::before {
  content: "\e148";
}
.proicon-book::before {
  content: "\e149";
}
.proicon-book-2::before {
  content: "\e14a";
}
.proicon-book-add::before {
  content: "\e14b";
}
.proicon-book-add-2::before {
  content: "\e14c";
}
.proicon-book-info::before {
  content: "\e14d";
}
.proicon-book-open::before {
  content: "\e14e";
}
.proicon-box::before {
  content: "\e14f";
}
.proicon-broom::before {
  content: "\e150";
}
.proicon-calligraphy-pen::before {
  content: "\e151";
}
.proicon-cart::before {
  content: "\e152";
}
.proicon-compass::before {
  content: "\e153";
}
.proicon-flag::before {
  content: "\e154";
}
.proicon-library::before {
  content: "\e155";
}
.proicon-photo-filter::before {
  content: "\e156";
}
.proicon-ribbon::before {
  content: "\e157";
}
.proicon-ribbon-star::before {
  content: "\e158";
}
.proicon-video::before {
  content: "\e159";
}
.proicon-briefcase::before {
  content: "\e15a";
}
.proicon-briefcase-2::before {
  content: "\e15b";
}
.proicon-cent::before {
  content: "\e15c";
}
.proicon-dollar::before {
  content: "\e15d";
}
.proicon-graph::before {
  content: "\e15e";
}
.proicon-toolbox::before {
  content: "\e15f";
}
.proicon-cake::before {
  content: "\e160";
}
.proicon-coffee-hot::before {
  content: "\e161";
}
.proicon-cookies::before {
  content: "\e162";
}
.proicon-drop::before {
  content: "\e163";
}
.proicon-hamburger::before {
  content: "\e164";
}
.proicon-box-drag::before {
  content: "\e165";
}
.proicon-cursor-drag::before {
  content: "\e166";
}
.proicon-hand::before {
  content: "\e167";
}
.proicon-thumbs-down::before {
  content: "\e168";
}
.proicon-thumbs-up::before {
  content: "\e169";
}
.proicon-angle::before {
  content: "\e16a";
}
.proicon-calculator::before {
  content: "\e16b";
}
.proicon-hash::before {
  content: "\e16c";
}
.proicon-ruler::before {
  content: "\e16d";
}
.proicon-screen-size::before {
  content: "\e16e";
}
.proicon-headphones::before {
  content: "\e16f";
}
.proicon-movie::before {
  content: "\e170";
}
.proicon-music-note::before {
  content: "\e171";
}
.proicon-music-note-2::before {
  content: "\e172";
}
.proicon-soundwave::before {
  content: "\e173";
}
.proicon-volume::before {
  content: "\e174";
}
.proicon-volume-0::before {
  content: "\e175";
}
.proicon-volume-1::before {
  content: "\e176";
}
.proicon-volume-mute::before {
  content: "\e177";
}
.proicon-leaf::before {
  content: "\e178";
}
.proicon-leaf-three::before {
  content: "\e179";
}
.proicon-leaf-two::before {
  content: "\e17a";
}
.proicon-history::before {
  content: "\e17b";
}
.proicon-question::before {
  content: "\e17c";
}
.proicon-question-circle::before {
  content: "\e17d";
}
.proicon-sparkle::before {
  content: "\e17e";
}
.proicon-align-bottom::before {
  content: "\e17f";
}
.proicon-align-horizontal-centers::before {
  content: "\e180";
}
.proicon-align-left::before {
  content: "\e181";
}
.proicon-align-right::before {
  content: "\e182";
}
.proicon-align-top::before {
  content: "\e183";
}
.proicon-align-vertical-centers::before {
  content: "\e184";
}
.proicon-apps-list::before {
  content: "\e185";
}
.proicon-archive::before {
  content: "\e186";
}
.proicon-archive-add-2::before {
  content: "\e187";
}
.proicon-board::before {
  content: "\e188";
}
.proicon-bookmark::before {
  content: "\e189";
}
.proicon-bookmark-add::before {
  content: "\e18a";
}
.proicon-bookmark-multiple::before {
  content: "\e18b";
}
.proicon-bookmark-multiple-var::before {
  content: "\e18c";
}
.proicon-center-horizontal::before {
  content: "\e18d";
}
.proicon-center-vertical::before {
  content: "\e18e";
}
.proicon-filter::before {
  content: "\e18f";
}
.proicon-filter-2::before {
  content: "\e190";
}
.proicon-filter-cancel::before {
  content: "\e191";
}
.proicon-filter-cancel-2::before {
  content: "\e192";
}
.proicon-section-break::before {
  content: "\e193";
}
.proicon-tag::before {
  content: "\e194";
}
.proicon-tag-multiple::before {
  content: "\e195";
}
.proicon-tag-multiple-var::before {
  content: "\e196";
}
.proicon-task-list::before {
  content: "\e197";
}
.proicon-text-bullet-list::before {
  content: "\e198";
}
.proicon-text-bullet-list-square::before {
  content: "\e199";
}
.proicon-text-bullet-list-square-add::before {
  content: "\e19a";
}
.proicon-camera::before {
  content: "\e19b";
}
.proicon-computer::before {
  content: "\e19c";
}
.proicon-computer-mac::before {
  content: "\e19d";
}
.proicon-foldable-horizontal::before {
  content: "\e19e";
}
.proicon-foldable-horizontal-half::before {
  content: "\e19f";
}
.proicon-foldable-vertical::before {
  content: "\e1a0";
}
.proicon-foldable-vertical-half::before {
  content: "\e1a1";
}
.proicon-game::before {
  content: "\e1a2";
}
.proicon-keyboard::before {
  content: "\e1a3";
}
.proicon-laptop::before {
  content: "\e1a4";
}
.proicon-motherboard::before {
  content: "\e1a5";
}
.proicon-phone::before {
  content: "\e1a6";
}
.proicon-printer::before {
  content: "\e1a7";
}
.proicon-tv::before {
  content: "\e1a8";
}
.proicon-tablet::before {
  content: "\e1a9";
}
.proicon-watch::before {
  content: "\e1aa";
}
.proicon-brightness::before {
  content: "\e1ab";
}
.proicon-moon::before {
  content: "\e1ac";
}
.proicon-weather-cloudy::before {
  content: "\e1ad";
}
.proicon-search-cancel::before {
  content: "\e1ae";
}
.proicon-branch::before {
  content: "\e1af";
}
.proicon-ubuntu::before {
  content: "\e1b0";
}
.proicon-linux::before {
  content: "\e1b1";
}
.proicon-webpack::before {
  content: "\e1b2";
}
.proicon-npm::before {
  content: "\e1b3";
}
.proicon-nodejs::before {
  content: "\e1b4";
}
.proicon-bolt::before {
  content: "\e1b5";
}
.proicon-door::before {
  content: "\e1b6";
}
.proicon-open-source::before {
  content: "\e1b7";
}
.proicon-vuejs::before {
  content: "\e1b8";
}
.proicon-record::before {
  content: "\e1b9";
}
.proicon-record-stop::before {
  content: "\e1ba";
}
.proicon-door-open::before {
  content: "\e1bb";
}
.proicon-branch-pull-request::before {
  content: "\e1bc";
}
.proicon-candy::before {
  content: "\e1bd";
}
.proicon-svelte::before {
  content: "\e1be";
}
.proicon-x-twitter::before {
  content: "\f101";
}
