@font-face {
  font-display: block;
  font-family: "ProIcons";
  src: url("./ProIcons.ttf?b10267158201fc638f601c62f59ea6d8") format("truetype"),
url("./ProIcons.woff?b10267158201fc638f601c62f59ea6d8") format("woff"),
url("./ProIcons.woff2?b10267158201fc638f601c62f59ea6d8") format("woff2");
}

i[class^="proicon-"]::before, i[class*=" proicon-"]::before {
  font-family: ProIcons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.proicon-Add::before {
  content: "\e000";
}
.proicon-Add Circular::before {
  content: "\e001";
}
.proicon-Add Rhombus::before {
  content: "\e002";
}
.proicon-Add Square::before {
  content: "\e003";
}
.proicon-Add Square Multiple::before {
  content: "\e004";
}
.proicon-Add Square Multiple -Var::before {
  content: "\e005";
}
.proicon-App Remove::before {
  content: "\e006";
}
.proicon-Apps::before {
  content: "\e007";
}
.proicon-Apps Add::before {
  content: "\e008";
}
.proicon-Backspace::before {
  content: "\e009";
}
.proicon-Cancel::before {
  content: "\e00a";
}
.proicon-Checkmark::before {
  content: "\e00b";
}
.proicon-Compose::before {
  content: "\e00c";
}
.proicon-Copy::before {
  content: "\e00d";
}
.proicon-Copy -Var::before {
  content: "\e00e";
}
.proicon-Crop::before {
  content: "\e00f";
}
.proicon-Cut::before {
  content: "\e010";
}
.proicon-Delete::before {
  content: "\e011";
}
.proicon-Eye::before {
  content: "\e012";
}
.proicon-Eye Off::before {
  content: "\e013";
}
.proicon-Fast Foward::before {
  content: "\e014";
}
.proicon-Heart::before {
  content: "\e015";
}
.proicon-Heart Stylistic::before {
  content: "\e016";
}
.proicon-Keyboard Shift::before {
  content: "\e017";
}
.proicon-More::before {
  content: "\e018";
}
.proicon-More Vertical::before {
  content: "\e019";
}
.proicon-Pause::before {
  content: "\e01a";
}
.proicon-Pencil::before {
  content: "\e01b";
}
.proicon-Play::before {
  content: "\e01c";
}
.proicon-Play Circular::before {
  content: "\e01d";
}
.proicon-Reverse::before {
  content: "\e01e";
}
.proicon-Search::before {
  content: "\e01f";
}
.proicon-Star::before {
  content: "\e020";
}
.proicon-Tune::before {
  content: "\e021";
}
.proicon-Checkmark Starburst::before {
  content: "\e022";
}
.proicon-Credit Card::before {
  content: "\e023";
}
.proicon-Lock::before {
  content: "\e024";
}
.proicon-Lock Open::before {
  content: "\e025";
}
.proicon-Shield::before {
  content: "\e026";
}
.proicon-Shield Cancel::before {
  content: "\e027";
}
.proicon-Shield Checkmark::before {
  content: "\e028";
}
.proicon-Shield Keyhole::before {
  content: "\e029";
}
.proicon-Chat::before {
  content: "\e02a";
}
.proicon-Cloud::before {
  content: "\e02b";
}
.proicon-Comment::before {
  content: "\e02c";
}
.proicon-Comment Multiple::before {
  content: "\e02d";
}
.proicon-Comment Multiple -Var::before {
  content: "\e02e";
}
.proicon-Database::before {
  content: "\e02f";
}
.proicon-Database Add::before {
  content: "\e030";
}
.proicon-Globe::before {
  content: "\e031";
}
.proicon-Mail::before {
  content: "\e032";
}
.proicon-Mail Open::before {
  content: "\e033";
}
.proicon-Megaphone::before {
  content: "\e034";
}
.proicon-Megaphone Loud::before {
  content: "\e035";
}
.proicon-Mention::before {
  content: "\e036";
}
.proicon-Narrator::before {
  content: "\e037";
}
.proicon-Person::before {
  content: "\e038";
}
.proicon-Person 2::before {
  content: "\e039";
}
.proicon-Person Add::before {
  content: "\e03a";
}
.proicon-Person Add 2::before {
  content: "\e03b";
}
.proicon-Person Circle::before {
  content: "\e03c";
}
.proicon-Person Multiple::before {
  content: "\e03d";
}
.proicon-Phone Accept::before {
  content: "\e03e";
}
.proicon-Phone Hang Up::before {
  content: "\e03f";
}
.proicon-Send::before {
  content: "\e040";
}
.proicon-Wi-Fi::before {
  content: "\e041";
}
.proicon-Anchor::before {
  content: "\e042";
}
.proicon-Attatch::before {
  content: "\e043";
}
.proicon-Book Info 2::before {
  content: "\e044";
}
.proicon-Calendar::before {
  content: "\e045";
}
.proicon-Diamond::before {
  content: "\e046";
}
.proicon-Eraser::before {
  content: "\e047";
}
.proicon-Eyedropper::before {
  content: "\e048";
}
.proicon-Eyedropper Color::before {
  content: "\e049";
}
.proicon-Flashlight::before {
  content: "\e04a";
}
.proicon-Gift::before {
  content: "\e04b";
}
.proicon-Hat Graduation::before {
  content: "\e04c";
}
.proicon-Highlighter::before {
  content: "\e04d";
}
.proicon-Hourglass::before {
  content: "\e04e";
}
.proicon-Layers::before {
  content: "\e04f";
}
.proicon-Lightbulb::before {
  content: "\e050";
}
.proicon-Link::before {
  content: "\e051";
}
.proicon-Microphone::before {
  content: "\e052";
}
.proicon-Microphone Off::before {
  content: "\e053";
}
.proicon-Pin::before {
  content: "\e054";
}
.proicon-Pin Off::before {
  content: "\e055";
}
.proicon-Timer::before {
  content: "\e056";
}
.proicon-Wrench::before {
  content: "\e057";
}
.proicon-Alert Circle::before {
  content: "\e058";
}
.proicon-Alert Triangle::before {
  content: "\e059";
}
.proicon-Arrow Sync::before {
  content: "\e05a";
}
.proicon-Arrow Sync 2::before {
  content: "\e05b";
}
.proicon-Badge::before {
  content: "\e05c";
}
.proicon-Bell::before {
  content: "\e05d";
}
.proicon-Cancel Circle::before {
  content: "\e05e";
}
.proicon-Cancel Square::before {
  content: "\e05f";
}
.proicon-Checkmark Circle::before {
  content: "\e060";
}
.proicon-Clock::before {
  content: "\e061";
}
.proicon-Do Not Disturb::before {
  content: "\e062";
}
.proicon-Info::before {
  content: "\e063";
}
.proicon-Prohibited::before {
  content: "\e064";
}
.proicon-Spinner::before {
  content: "\e065";
}
.proicon-Emoji::before {
  content: "\e066";
}
.proicon-Emoji Frown::before {
  content: "\e067";
}
.proicon-Emoji Grin::before {
  content: "\e068";
}
.proicon-Emoji Laughter::before {
  content: "\e069";
}
.proicon-Skull::before {
  content: "\e06a";
}
.proicon-Arrow Clockwise::before {
  content: "\e06b";
}
.proicon-Arrow Counterclockwise::before {
  content: "\e06c";
}
.proicon-Arrow Down::before {
  content: "\e06d";
}
.proicon-Arrow Download::before {
  content: "\e06e";
}
.proicon-Arrow Enter::before {
  content: "\e06f";
}
.proicon-Arrow Export::before {
  content: "\e070";
}
.proicon-Arrow Foward::before {
  content: "\e071";
}
.proicon-Arrow Import::before {
  content: "\e072";
}
.proicon-Arrow Left::before {
  content: "\e073";
}
.proicon-Arrow Move::before {
  content: "\e074";
}
.proicon-Arrow Redo::before {
  content: "\e075";
}
.proicon-Arrow Redo 2::before {
  content: "\e076";
}
.proicon-Arrow Reply::before {
  content: "\e077";
}
.proicon-Arrow Right::before {
  content: "\e078";
}
.proicon-Arrow Rotate Clockwise::before {
  content: "\e079";
}
.proicon-Arrow Rotate Counterclockwise::before {
  content: "\e07a";
}
.proicon-Arrow Sort::before {
  content: "\e07b";
}
.proicon-Arrow Swap::before {
  content: "\e07c";
}
.proicon-Arrow Trending::before {
  content: "\e07d";
}
.proicon-Arrow Undo::before {
  content: "\e07e";
}
.proicon-Arrow Undo 2::before {
  content: "\e07f";
}
.proicon-Arrow Up::before {
  content: "\e080";
}
.proicon-Arrow Up Down::before {
  content: "\e081";
}
.proicon-Arrow Upload::before {
  content: "\e082";
}
.proicon-Chevron Down::before {
  content: "\e083";
}
.proicon-Chevron Left::before {
  content: "\e084";
}
.proicon-Chevron Right::before {
  content: "\e085";
}
.proicon-Chevron Up::before {
  content: "\e086";
}
.proicon-Subtract::before {
  content: "\e087";
}
.proicon-Document::before {
  content: "\e088";
}
.proicon-Draw Text::before {
  content: "\e089";
}
.proicon-Note::before {
  content: "\e08a";
}
.proicon-Note Add::before {
  content: "\e08b";
}
.proicon-Quote::before {
  content: "\e08c";
}
.proicon-Spacebar::before {
  content: "\e08d";
}
.proicon-Symbols::before {
  content: "\e08e";
}
.proicon-Text::before {
  content: "\e08f";
}
.proicon-Text Add::before {
  content: "\e090";
}
.proicon-Text Align Center::before {
  content: "\e091";
}
.proicon-Text Align Justify::before {
  content: "\e092";
}
.proicon-Text Align Left::before {
  content: "\e093";
}
.proicon-Text Align Right::before {
  content: "\e094";
}
.proicon-Text Bold::before {
  content: "\e095";
}
.proicon-Text Case Lowercase::before {
  content: "\e096";
}
.proicon-Text Case Title::before {
  content: "\e097";
}
.proicon-Text Case Uppercase::before {
  content: "\e098";
}
.proicon-Text Clear Formatting::before {
  content: "\e099";
}
.proicon-Text Collapse::before {
  content: "\e09a";
}
.proicon-Text Color::before {
  content: "\e09b";
}
.proicon-Text Edit Style::before {
  content: "\e09c";
}
.proicon-Text Effects::before {
  content: "\e09d";
}
.proicon-Text Expand::before {
  content: "\e09e";
}
.proicon-Text Font::before {
  content: "\e09f";
}
.proicon-Text Font Size::before {
  content: "\e0a0";
}
.proicon-Text Footnote::before {
  content: "\e0a1";
}
.proicon-Text Highlight Color::before {
  content: "\e0a2";
}
.proicon-Text Indent Decrease::before {
  content: "\e0a3";
}
.proicon-Text Indent Increase::before {
  content: "\e0a4";
}
.proicon-Text Italic::before {
  content: "\e0a5";
}
.proicon-Text Large::before {
  content: "\e0a6";
}
.proicon-Text Letter Spacing::before {
  content: "\e0a7";
}
.proicon-Text Line Height::before {
  content: "\e0a8";
}
.proicon-Text Line Spacing::before {
  content: "\e0a9";
}
.proicon-Text Number List::before {
  content: "\e0aa";
}
.proicon-Text Position Bottom::before {
  content: "\e0ab";
}
.proicon-Text Position Middle::before {
  content: "\e0ac";
}
.proicon-Text Position Top::before {
  content: "\e0ad";
}
.proicon-Text Small::before {
  content: "\e0ae";
}
.proicon-Text Strikethrough::before {
  content: "\e0af";
}
.proicon-Text Subscript::before {
  content: "\e0b0";
}
.proicon-Text Superscript::before {
  content: "\e0b1";
}
.proicon-Text Typography::before {
  content: "\e0b2";
}
.proicon-Text Underline::before {
  content: "\e0b3";
}
.proicon-File::before {
  content: "\e0b4";
}
.proicon-File Add::before {
  content: "\e0b5";
}
.proicon-File Sync::before {
  content: "\e0b6";
}
.proicon-Folder::before {
  content: "\e0b7";
}
.proicon-Folder Add::before {
  content: "\e0b8";
}
.proicon-Folder Open::before {
  content: "\e0b9";
}
.proicon-Hard Drive::before {
  content: "\e0ba";
}
.proicon-PDF::before {
  content: "\e0bb";
}
.proicon-PDF 2::before {
  content: "\e0bc";
}
.proicon-Photo::before {
  content: "\e0bd";
}
.proicon-QR Code::before {
  content: "\e0be";
}
.proicon-Save::before {
  content: "\e0bf";
}
.proicon-Save As::before {
  content: "\e0c0";
}
.proicon-Accessibility::before {
  content: "\e0c1";
}
.proicon-Battery::before {
  content: "\e0c2";
}
.proicon-Battery Full::before {
  content: "\e0c3";
}
.proicon-Button::before {
  content: "\e0c4";
}
.proicon-Checkbox Intermediate 2::before {
  content: "\e0c5";
}
.proicon-Checkbox Unchecked::before {
  content: "\e0c6";
}
.proicon-Checkmark Checked::before {
  content: "\e0c7";
}
.proicon-Checkmark Intermediate::before {
  content: "\e0c8";
}
.proicon-Closed Captions::before {
  content: "\e0c9";
}
.proicon-Cursor::before {
  content: "\e0ca";
}
.proicon-Cursor Click::before {
  content: "\e0cb";
}
.proicon-Dark Theme::before {
  content: "\e0cc";
}
.proicon-Extension::before {
  content: "\e0cd";
}
.proicon-Menu::before {
  content: "\e0ce";
}
.proicon-Settings::before {
  content: "\e0cf";
}
.proicon-Zoom In::before {
  content: "\e0d0";
}
.proicon-Zoom Out::before {
  content: "\e0d1";
}
.proicon-Airplane::before {
  content: "\e0d2";
}
.proicon-Airplane Landing::before {
  content: "\e0d3";
}
.proicon-Airplane Takeoff::before {
  content: "\e0d4";
}
.proicon-Beach::before {
  content: "\e0d5";
}
.proicon-Building Multiple::before {
  content: "\e0d6";
}
.proicon-Component::before {
  content: "\e0d7";
}
.proicon-Directions::before {
  content: "\e0d8";
}
.proicon-Home::before {
  content: "\e0d9";
}
.proicon-Home 2::before {
  content: "\e0da";
}
.proicon-Location::before {
  content: "\e0db";
}
.proicon-Map::before {
  content: "\e0dc";
}
.proicon-Museum::before {
  content: "\e0dd";
}
.proicon-Vehicle Car::before {
  content: "\e0de";
}
.proicon-Bar Graph::before {
  content: "\e0df";
}
.proicon-Box Margins::before {
  content: "\e0e0";
}
.proicon-Clipboard::before {
  content: "\e0e1";
}
.proicon-Clipboard Paste::before {
  content: "\e0e2";
}
.proicon-Clipboard Search::before {
  content: "\e0e3";
}
.proicon-Compare Size::before {
  content: "\e0e4";
}
.proicon-Grid::before {
  content: "\e0e5";
}
.proicon-Grid Dots::before {
  content: "\e0e6";
}
.proicon-Layout::before {
  content: "\e0e7";
}
.proicon-Page Margins::before {
  content: "\e0e8";
}
.proicon-Panel Left::before {
  content: "\e0e9";
}
.proicon-Panel Left Contract::before {
  content: "\e0ea";
}
.proicon-Panel Left Expand::before {
  content: "\e0eb";
}
.proicon-Panel Left Open::before {
  content: "\e0ec";
}
.proicon-Panel Right::before {
  content: "\e0ed";
}
.proicon-Panel Right Contract::before {
  content: "\e0ee";
}
.proicon-Panel Right Expand::before {
  content: "\e0ef";
}
.proicon-Table::before {
  content: "\e0f0";
}
.proicon-Table Simple::before {
  content: "\e0f1";
}
.proicon-Background Color::before {
  content: "\e0f2";
}
.proicon-Border All::before {
  content: "\e0f3";
}
.proicon-Color Palette::before {
  content: "\e0f4";
}
.proicon-Mask::before {
  content: "\e0f5";
}
.proicon-Paint Bucket::before {
  content: "\e0f6";
}
.proicon-Paintbrush::before {
  content: "\e0f7";
}
.proicon-Paintbrush 2::before {
  content: "\e0f8";
}
.proicon-Shape Difference::before {
  content: "\e0f9";
}
.proicon-Shape Intersect::before {
  content: "\e0fa";
}
.proicon-Shape Subtract::before {
  content: "\e0fb";
}
.proicon-Shape Union::before {
  content: "\e0fc";
}
.proicon-Stroke Thickness::before {
  content: "\e0fd";
}
.proicon-Arrow Maximize::before {
  content: "\e0fe";
}
.proicon-Arrow Minimize::before {
  content: "\e0ff";
}
.proicon-Chrome Restore::before {
  content: "\e100";
}
.proicon-Chrome Restore -Var::before {
  content: "\e101";
}
.proicon-Contract Down::before {
  content: "\e102";
}
.proicon-Expand::before {
  content: "\e103";
}
.proicon-Full Screen Maximize::before {
  content: "\e104";
}
.proicon-Full Screen Minimize::before {
  content: "\e105";
}
.proicon-Open::before {
  content: "\e106";
}
.proicon-Picture in Picture::before {
  content: "\e107";
}
.proicon-Picture in Picture 2::before {
  content: "\e108";
}
.proicon-Picture in Picture Enter::before {
  content: "\e109";
}
.proicon-Picture in Picture Exit::before {
  content: "\e10a";
}
.proicon-Window::before {
  content: "\e10b";
}
.proicon-Window Multiple::before {
  content: "\e10c";
}
.proicon-Window Multiple -Var::before {
  content: "\e10d";
}
.proicon-Beaker::before {
  content: "\e10e";
}
.proicon-Braces::before {
  content: "\e10f";
}
.proicon-Braces Variable::before {
  content: "\e110";
}
.proicon-Branch ::before {
  content: "\e111";
}
.proicon-Branch Compare::before {
  content: "\e112";
}
.proicon-Branch Fork::before {
  content: "\e113";
}
.proicon-Branch Fork 2::before {
  content: "\e114";
}
.proicon-Bug::before {
  content: "\e115";
}
.proicon-Code::before {
  content: "\e116";
}
.proicon-Git Commit::before {
  content: "\e117";
}
.proicon-Script::before {
  content: "\e118";
}
.proicon-Script 2::before {
  content: "\e119";
}
.proicon-Terminal::before {
  content: "\e11a";
}
.proicon-Video Clip::before {
  content: "\e11b";
}
.proicon-Arc::before {
  content: "\e11c";
}
.proicon-Circle::before {
  content: "\e11d";
}
.proicon-Circle Small::before {
  content: "\e11e";
}
.proicon-Corner Radius::before {
  content: "\e11f";
}
.proicon-Hexagon::before {
  content: "\e120";
}
.proicon-Line Diagonal::before {
  content: "\e121";
}
.proicon-Octagon::before {
  content: "\e122";
}
.proicon-Pentagon::before {
  content: "\e123";
}
.proicon-Rectangle Wide::before {
  content: "\e124";
}
.proicon-Rhombus::before {
  content: "\e125";
}
.proicon-Square::before {
  content: "\e126";
}
.proicon-Triangle::before {
  content: "\e127";
}
.proicon-Background Color Accent::before {
  content: "\e128";
}
.proicon-Eyedropper Color Accent::before {
  content: "\e129";
}
.proicon-Highlighter Accent::before {
  content: "\e12a";
}
.proicon-Paint Bucket Accent::before {
  content: "\e12b";
}
.proicon-Tag Accent::before {
  content: "\e12c";
}
.proicon-Text Color Accent::before {
  content: "\e12d";
}
.proicon-Text Highlight Color Accent::before {
  content: "\e12e";
}
.proicon-Amazon::before {
  content: "\e12f";
}
.proicon-App Store::before {
  content: "\e130";
}
.proicon-Apple::before {
  content: "\e131";
}
.proicon-Bluetooth::before {
  content: "\e132";
}
.proicon-CSS::before {
  content: "\e133";
}
.proicon-Facebook::before {
  content: "\e134";
}
.proicon-Figma::before {
  content: "\e135";
}
.proicon-GitHub::before {
  content: "\e136";
}
.proicon-Google::before {
  content: "\e137";
}
.proicon-Google 2::before {
  content: "\e138";
}
.proicon-Google Chrome::before {
  content: "\e139";
}
.proicon-Google Play::before {
  content: "\e13a";
}
.proicon-HTML::before {
  content: "\e13b";
}
.proicon-Instagram::before {
  content: "\e13c";
}
.proicon-JavaScript::before {
  content: "\e13d";
}
.proicon-Microsoft::before {
  content: "\e13e";
}
.proicon-Microsoft Edge::before {
  content: "\e13f";
}
.proicon-Python::before {
  content: "\e140";
}
.proicon-Roblox::before {
  content: "\e141";
}
.proicon-TikTok::before {
  content: "\e142";
}
.proicon-Visual Studio Code::before {
  content: "\e143";
}
.proicon-X (Twitter)::before {
  content: "\e144";
}
.proicon-YouTube::before {
  content: "\e145";
}
.proicon-YouTube Shorts::before {
  content: "\e146";
}
.proicon-Book::before {
  content: "\e147";
}
.proicon-Book 2::before {
  content: "\e148";
}
.proicon-Book Add::before {
  content: "\e149";
}
.proicon-Book Add 2::before {
  content: "\e14a";
}
.proicon-Book Info::before {
  content: "\e14b";
}
.proicon-Book Open::before {
  content: "\e14c";
}
.proicon-Box::before {
  content: "\e14d";
}
.proicon-Broom::before {
  content: "\e14e";
}
.proicon-Calligraphy Pen::before {
  content: "\e14f";
}
.proicon-Cart::before {
  content: "\e150";
}
.proicon-Compass::before {
  content: "\e151";
}
.proicon-Flag::before {
  content: "\e152";
}
.proicon-Library::before {
  content: "\e153";
}
.proicon-Photo Filter::before {
  content: "\e154";
}
.proicon-Ribbon::before {
  content: "\e155";
}
.proicon-Ribbon Star::before {
  content: "\e156";
}
.proicon-Video::before {
  content: "\e157";
}
.proicon-Briefcase::before {
  content: "\e158";
}
.proicon-Briefcase 2::before {
  content: "\e159";
}
.proicon-Cent::before {
  content: "\e15a";
}
.proicon-Dollar::before {
  content: "\e15b";
}
.proicon-Graph::before {
  content: "\e15c";
}
.proicon-Toolbox::before {
  content: "\e15d";
}
.proicon-Cake::before {
  content: "\e15e";
}
.proicon-Coffee Hot::before {
  content: "\e15f";
}
.proicon-Cookies::before {
  content: "\e160";
}
.proicon-Drop::before {
  content: "\e161";
}
.proicon-Hamburger::before {
  content: "\e162";
}
.proicon-Box Drag::before {
  content: "\e163";
}
.proicon-Cursor Drag::before {
  content: "\e164";
}
.proicon-Hand::before {
  content: "\e165";
}
.proicon-Thumbs Down::before {
  content: "\e166";
}
.proicon-Thumbs Up::before {
  content: "\e167";
}
.proicon-Angle::before {
  content: "\e168";
}
.proicon-Calculator::before {
  content: "\e169";
}
.proicon-Hash::before {
  content: "\e16a";
}
.proicon-Ruler::before {
  content: "\e16b";
}
.proicon-Screen Size::before {
  content: "\e16c";
}
.proicon-Headphones::before {
  content: "\e16d";
}
.proicon-Movie::before {
  content: "\e16e";
}
.proicon-Music Note::before {
  content: "\e16f";
}
.proicon-Music Note 2::before {
  content: "\e170";
}
.proicon-Soundwave::before {
  content: "\e171";
}
.proicon-Volume::before {
  content: "\e172";
}
.proicon-Volume 0::before {
  content: "\e173";
}
.proicon-Volume 1::before {
  content: "\e174";
}
.proicon-Volume Mute::before {
  content: "\e175";
}
.proicon-Leaf::before {
  content: "\e176";
}
.proicon-Leaf Three::before {
  content: "\e177";
}
.proicon-Leaf Two::before {
  content: "\e178";
}
.proicon-History::before {
  content: "\e179";
}
.proicon-Question::before {
  content: "\e17a";
}
.proicon-Question Circle::before {
  content: "\e17b";
}
.proicon-Sparkle::before {
  content: "\e17c";
}
.proicon-Align Bottom::before {
  content: "\e17d";
}
.proicon-Align Horizontal Centers::before {
  content: "\e17e";
}
.proicon-Align Left::before {
  content: "\e17f";
}
.proicon-Align Right::before {
  content: "\e180";
}
.proicon-Align Top::before {
  content: "\e181";
}
.proicon-Align Vertical Centers::before {
  content: "\e182";
}
.proicon-Apps List::before {
  content: "\e183";
}
.proicon-Archive::before {
  content: "\e184";
}
.proicon-Archive Add 2::before {
  content: "\e185";
}
.proicon-Board::before {
  content: "\e186";
}
.proicon-Bookmark::before {
  content: "\e187";
}
.proicon-Bookmark Add::before {
  content: "\e188";
}
.proicon-Bookmark Multiple::before {
  content: "\e189";
}
.proicon-Bookmark Multiple -Var::before {
  content: "\e18a";
}
.proicon-Center Horizontal::before {
  content: "\e18b";
}
.proicon-Center Vertical::before {
  content: "\e18c";
}
.proicon-Filter::before {
  content: "\e18d";
}
.proicon-Filter 2::before {
  content: "\e18e";
}
.proicon-Filter Cancel::before {
  content: "\e18f";
}
.proicon-Filter Cancel 2::before {
  content: "\e190";
}
.proicon-Section Break::before {
  content: "\e191";
}
.proicon-Tag::before {
  content: "\e192";
}
.proicon-Tag Multiple::before {
  content: "\e193";
}
.proicon-Tag Multiple -Var::before {
  content: "\e194";
}
.proicon-Task List::before {
  content: "\e195";
}
.proicon-Text Bullet List::before {
  content: "\e196";
}
.proicon-Text Bullet List Square::before {
  content: "\e197";
}
.proicon-Text Bullet List Square Add::before {
  content: "\e198";
}
.proicon-Camera::before {
  content: "\e199";
}
.proicon-Computer::before {
  content: "\e19a";
}
.proicon-Computer Mac::before {
  content: "\e19b";
}
.proicon-Foldable Horizontal::before {
  content: "\e19c";
}
.proicon-Foldable Horizontal Half::before {
  content: "\e19d";
}
.proicon-Foldable Vertical::before {
  content: "\e19e";
}
.proicon-Foldable Vertical Half::before {
  content: "\e19f";
}
.proicon-Game::before {
  content: "\e1a0";
}
.proicon-Keyboard::before {
  content: "\e1a1";
}
.proicon-Laptop::before {
  content: "\e1a2";
}
.proicon-Motherboard::before {
  content: "\e1a3";
}
.proicon-Phone::before {
  content: "\e1a4";
}
.proicon-Printer::before {
  content: "\e1a5";
}
.proicon-TV::before {
  content: "\e1a6";
}
.proicon-Tablet::before {
  content: "\e1a7";
}
.proicon-Watch::before {
  content: "\e1a8";
}
.proicon-Brightness::before {
  content: "\e1a9";
}
.proicon-Moon::before {
  content: "\e1aa";
}
.proicon-Weather Cloudy::before {
  content: "\e1ab";
}
.proicon-accessibility::before {
  content: "\f101";
}
.proicon-add-circular::before {
  content: "\f102";
}
.proicon-add-rhombus::before {
  content: "\f103";
}
.proicon-add-square-multiple--var::before {
  content: "\f104";
}
.proicon-add-square-multiple::before {
  content: "\f105";
}
.proicon-add-square::before {
  content: "\f106";
}
.proicon-add::before {
  content: "\f107";
}
.proicon-airplane-landing::before {
  content: "\f108";
}
.proicon-airplane-takeoff::before {
  content: "\f109";
}
.proicon-airplane::before {
  content: "\f10a";
}
.proicon-alert-circle::before {
  content: "\f10b";
}
.proicon-alert-triangle::before {
  content: "\f10c";
}
.proicon-align-bottom::before {
  content: "\f10d";
}
.proicon-align-horizontal-centers::before {
  content: "\f10e";
}
.proicon-align-left::before {
  content: "\f10f";
}
.proicon-align-right::before {
  content: "\f110";
}
.proicon-align-top::before {
  content: "\f111";
}
.proicon-align-vertical-centers::before {
  content: "\f112";
}
.proicon-amazon::before {
  content: "\f113";
}
.proicon-anchor::before {
  content: "\f114";
}
.proicon-angle::before {
  content: "\f115";
}
.proicon-app-remove::before {
  content: "\f116";
}
.proicon-app-store::before {
  content: "\f117";
}
.proicon-apple::before {
  content: "\f118";
}
.proicon-apps-add::before {
  content: "\f119";
}
.proicon-apps-list::before {
  content: "\f11a";
}
.proicon-apps::before {
  content: "\f11b";
}
.proicon-arc::before {
  content: "\f11c";
}
.proicon-archive-add-2::before {
  content: "\f11d";
}
.proicon-archive::before {
  content: "\f11e";
}
.proicon-arrow-clockwise::before {
  content: "\f11f";
}
.proicon-arrow-counterclockwise::before {
  content: "\f120";
}
.proicon-arrow-down::before {
  content: "\f121";
}
.proicon-arrow-download::before {
  content: "\f122";
}
.proicon-arrow-enter::before {
  content: "\f123";
}
.proicon-arrow-export::before {
  content: "\f124";
}
.proicon-arrow-foward::before {
  content: "\f125";
}
.proicon-arrow-import::before {
  content: "\f126";
}
.proicon-arrow-left::before {
  content: "\f127";
}
.proicon-arrow-maximize::before {
  content: "\f128";
}
.proicon-arrow-minimize::before {
  content: "\f129";
}
.proicon-arrow-move::before {
  content: "\f12a";
}
.proicon-arrow-redo-2::before {
  content: "\f12b";
}
.proicon-arrow-redo::before {
  content: "\f12c";
}
.proicon-arrow-reply::before {
  content: "\f12d";
}
.proicon-arrow-right::before {
  content: "\f12e";
}
.proicon-arrow-rotate-clockwise::before {
  content: "\f12f";
}
.proicon-arrow-rotate-counterclockwise::before {
  content: "\f130";
}
.proicon-arrow-sort::before {
  content: "\f131";
}
.proicon-arrow-swap::before {
  content: "\f132";
}
.proicon-arrow-sync-2::before {
  content: "\f133";
}
.proicon-arrow-sync::before {
  content: "\f134";
}
.proicon-arrow-trending::before {
  content: "\f135";
}
.proicon-arrow-undo-2::before {
  content: "\f136";
}
.proicon-arrow-undo::before {
  content: "\f137";
}
.proicon-arrow-up-down-1::before {
  content: "\f138";
}
.proicon-arrow-up-down::before {
  content: "\f139";
}
.proicon-arrow-up::before {
  content: "\f13a";
}
.proicon-arrow-upload::before {
  content: "\f13b";
}
.proicon-attatch::before {
  content: "\f13c";
}
.proicon-background-color-accent::before {
  content: "\f13d";
}
.proicon-background-color::before {
  content: "\f13e";
}
.proicon-backspace::before {
  content: "\f13f";
}
.proicon-badge::before {
  content: "\f140";
}
.proicon-bar-graph::before {
  content: "\f141";
}
.proicon-battery-full::before {
  content: "\f142";
}
.proicon-battery::before {
  content: "\f143";
}
.proicon-beach::before {
  content: "\f144";
}
.proicon-beaker::before {
  content: "\f145";
}
.proicon-bell::before {
  content: "\f146";
}
.proicon-bluetooth::before {
  content: "\f147";
}
.proicon-board::before {
  content: "\f148";
}
.proicon-book-2::before {
  content: "\f149";
}
.proicon-book-add-2::before {
  content: "\f14a";
}
.proicon-book-add::before {
  content: "\f14b";
}
.proicon-book-info-2::before {
  content: "\f14c";
}
.proicon-book-info::before {
  content: "\f14d";
}
.proicon-book-open::before {
  content: "\f14e";
}
.proicon-book::before {
  content: "\f14f";
}
.proicon-bookmark-add::before {
  content: "\f150";
}
.proicon-bookmark-multiple--var::before {
  content: "\f151";
}
.proicon-bookmark-multiple::before {
  content: "\f152";
}
.proicon-bookmark::before {
  content: "\f153";
}
.proicon-border-all::before {
  content: "\f154";
}
.proicon-box-drag::before {
  content: "\f155";
}
.proicon-box-margins::before {
  content: "\f156";
}
.proicon-box::before {
  content: "\f157";
}
.proicon-braces-variable::before {
  content: "\f158";
}
.proicon-braces::before {
  content: "\f159";
}
.proicon-branch-compare::before {
  content: "\f15a";
}
.proicon-branch-fork-2::before {
  content: "\f15b";
}
.proicon-branch-fork::before {
  content: "\f15c";
}
.proicon-branch::before {
  content: "\f15d";
}
.proicon-briefcase-2::before {
  content: "\f15e";
}
.proicon-briefcase::before {
  content: "\f15f";
}
.proicon-brightness::before {
  content: "\f160";
}
.proicon-broom::before {
  content: "\f161";
}
.proicon-bug::before {
  content: "\f162";
}
.proicon-building-multiple::before {
  content: "\f163";
}
.proicon-button::before {
  content: "\f164";
}
.proicon-cake::before {
  content: "\f165";
}
.proicon-calculator::before {
  content: "\f166";
}
.proicon-calendar::before {
  content: "\f167";
}
.proicon-calligraphy-pen::before {
  content: "\f168";
}
.proicon-camera::before {
  content: "\f169";
}
.proicon-cancel-circle::before {
  content: "\f16a";
}
.proicon-cancel-square::before {
  content: "\f16b";
}
.proicon-cancel::before {
  content: "\f16c";
}
.proicon-cart::before {
  content: "\f16d";
}
.proicon-cent::before {
  content: "\f16e";
}
.proicon-center-horizontal::before {
  content: "\f16f";
}
.proicon-center-vertical::before {
  content: "\f170";
}
.proicon-chat::before {
  content: "\f171";
}
.proicon-checkbox-intermediate-2::before {
  content: "\f172";
}
.proicon-checkbox-unchecked::before {
  content: "\f173";
}
.proicon-checkmark-checked::before {
  content: "\f174";
}
.proicon-checkmark-circle::before {
  content: "\f175";
}
.proicon-checkmark-intermediate::before {
  content: "\f176";
}
.proicon-checkmark-starburst::before {
  content: "\f177";
}
.proicon-checkmark::before {
  content: "\f178";
}
.proicon-chevron-down::before {
  content: "\f179";
}
.proicon-chevron-left::before {
  content: "\f17a";
}
.proicon-chevron-right::before {
  content: "\f17b";
}
.proicon-chevron-up::before {
  content: "\f17c";
}
.proicon-chrome-restore--var::before {
  content: "\f17d";
}
.proicon-chrome-restore::before {
  content: "\f17e";
}
.proicon-circle-small::before {
  content: "\f17f";
}
.proicon-circle::before {
  content: "\f180";
}
.proicon-clipboard-paste::before {
  content: "\f181";
}
.proicon-clipboard-search::before {
  content: "\f182";
}
.proicon-clipboard::before {
  content: "\f183";
}
.proicon-clock::before {
  content: "\f184";
}
.proicon-closed-captions::before {
  content: "\f185";
}
.proicon-cloud::before {
  content: "\f186";
}
.proicon-code::before {
  content: "\f187";
}
.proicon-coffee-hot::before {
  content: "\f188";
}
.proicon-color-palette::before {
  content: "\f189";
}
.proicon-comment-multiple--var::before {
  content: "\f18a";
}
.proicon-comment-multiple::before {
  content: "\f18b";
}
.proicon-comment::before {
  content: "\f18c";
}
.proicon-compare-size::before {
  content: "\f18d";
}
.proicon-compass::before {
  content: "\f18e";
}
.proicon-component::before {
  content: "\f18f";
}
.proicon-compose::before {
  content: "\f190";
}
.proicon-computer-mac::before {
  content: "\f191";
}
.proicon-computer::before {
  content: "\f192";
}
.proicon-contract-down::before {
  content: "\f193";
}
.proicon-cookies::before {
  content: "\f194";
}
.proicon-copy--var::before {
  content: "\f195";
}
.proicon-copy::before {
  content: "\f196";
}
.proicon-corner-radius::before {
  content: "\f197";
}
.proicon-credit-card::before {
  content: "\f198";
}
.proicon-crop::before {
  content: "\f199";
}
.proicon-css::before {
  content: "\f19a";
}
.proicon-cursor-click::before {
  content: "\f19b";
}
.proicon-cursor-drag::before {
  content: "\f19c";
}
.proicon-cursor::before {
  content: "\f19d";
}
.proicon-cut::before {
  content: "\f19e";
}
.proicon-dark-theme::before {
  content: "\f19f";
}
.proicon-database-add::before {
  content: "\f1a0";
}
.proicon-database::before {
  content: "\f1a1";
}
.proicon-delete::before {
  content: "\f1a2";
}
.proicon-diamond::before {
  content: "\f1a3";
}
.proicon-directions::before {
  content: "\f1a4";
}
.proicon-do-not-disturb::before {
  content: "\f1a5";
}
.proicon-document::before {
  content: "\f1a6";
}
.proicon-dollar::before {
  content: "\f1a7";
}
.proicon-draw-text::before {
  content: "\f1a8";
}
.proicon-drop::before {
  content: "\f1a9";
}
.proicon-emoji-frown::before {
  content: "\f1aa";
}
.proicon-emoji-grin::before {
  content: "\f1ab";
}
.proicon-emoji-laughter::before {
  content: "\f1ac";
}
.proicon-emoji::before {
  content: "\f1ad";
}
.proicon-eraser::before {
  content: "\f1ae";
}
.proicon-expand::before {
  content: "\f1af";
}
.proicon-extension::before {
  content: "\f1b0";
}
.proicon-eye-off::before {
  content: "\f1b1";
}
.proicon-eye::before {
  content: "\f1b2";
}
.proicon-eyedropper-color-accent::before {
  content: "\f1b3";
}
.proicon-eyedropper-color::before {
  content: "\f1b4";
}
.proicon-eyedropper::before {
  content: "\f1b5";
}
.proicon-facebook::before {
  content: "\f1b6";
}
.proicon-fast-foward::before {
  content: "\f1b7";
}
.proicon-figma::before {
  content: "\f1b8";
}
.proicon-file-add::before {
  content: "\f1b9";
}
.proicon-file-sync::before {
  content: "\f1ba";
}
.proicon-file::before {
  content: "\f1bb";
}
.proicon-filter-2::before {
  content: "\f1bc";
}
.proicon-filter-cancel-2::before {
  content: "\f1bd";
}
.proicon-filter-cancel::before {
  content: "\f1be";
}
.proicon-filter::before {
  content: "\f1bf";
}
.proicon-flag::before {
  content: "\f1c0";
}
.proicon-flashlight::before {
  content: "\f1c1";
}
.proicon-foldable-horizontal-half::before {
  content: "\f1c2";
}
.proicon-foldable-horizontal::before {
  content: "\f1c3";
}
.proicon-foldable-vertical-half::before {
  content: "\f1c4";
}
.proicon-foldable-vertical::before {
  content: "\f1c5";
}
.proicon-folder-add::before {
  content: "\f1c6";
}
.proicon-folder-open::before {
  content: "\f1c7";
}
.proicon-folder::before {
  content: "\f1c8";
}
.proicon-full-screen-maximize::before {
  content: "\f1c9";
}
.proicon-full-screen-minimize::before {
  content: "\f1ca";
}
.proicon-game::before {
  content: "\f1cb";
}
.proicon-gift::before {
  content: "\f1cc";
}
.proicon-git-commit::before {
  content: "\f1cd";
}
.proicon-github::before {
  content: "\f1ce";
}
.proicon-globe::before {
  content: "\f1cf";
}
.proicon-google-2::before {
  content: "\f1d0";
}
.proicon-google-chrome::before {
  content: "\f1d1";
}
.proicon-google-play::before {
  content: "\f1d2";
}
.proicon-google::before {
  content: "\f1d3";
}
.proicon-graph::before {
  content: "\f1d4";
}
.proicon-grid-dots::before {
  content: "\f1d5";
}
.proicon-grid::before {
  content: "\f1d6";
}
.proicon-hamburger::before {
  content: "\f1d7";
}
.proicon-hand::before {
  content: "\f1d8";
}
.proicon-hard-drive::before {
  content: "\f1d9";
}
.proicon-hash::before {
  content: "\f1da";
}
.proicon-hat-graduation::before {
  content: "\f1db";
}
.proicon-headphones::before {
  content: "\f1dc";
}
.proicon-heart-stylistic::before {
  content: "\f1dd";
}
.proicon-heart::before {
  content: "\f1de";
}
.proicon-hexagon::before {
  content: "\f1df";
}
.proicon-highlighter-accent::before {
  content: "\f1e0";
}
.proicon-highlighter::before {
  content: "\f1e1";
}
.proicon-history::before {
  content: "\f1e2";
}
.proicon-home-2::before {
  content: "\f1e3";
}
.proicon-home::before {
  content: "\f1e4";
}
.proicon-hourglass::before {
  content: "\f1e5";
}
.proicon-html::before {
  content: "\f1e6";
}
.proicon-info::before {
  content: "\f1e7";
}
.proicon-instagram::before {
  content: "\f1e8";
}
.proicon-javascript::before {
  content: "\f1e9";
}
.proicon-keyboard-shift::before {
  content: "\f1ea";
}
.proicon-keyboard::before {
  content: "\f1eb";
}
.proicon-laptop::before {
  content: "\f1ec";
}
.proicon-layers::before {
  content: "\f1ed";
}
.proicon-layout::before {
  content: "\f1ee";
}
.proicon-leaf-three::before {
  content: "\f1ef";
}
.proicon-leaf-two::before {
  content: "\f1f0";
}
.proicon-leaf::before {
  content: "\f1f1";
}
.proicon-library::before {
  content: "\f1f2";
}
.proicon-lightbulb::before {
  content: "\f1f3";
}
.proicon-line-diagonal::before {
  content: "\f1f4";
}
.proicon-link::before {
  content: "\f1f5";
}
.proicon-location::before {
  content: "\f1f6";
}
.proicon-lock-open::before {
  content: "\f1f7";
}
.proicon-lock::before {
  content: "\f1f8";
}
.proicon-mail-open::before {
  content: "\f1f9";
}
.proicon-mail::before {
  content: "\f1fa";
}
.proicon-map::before {
  content: "\f1fb";
}
.proicon-mask::before {
  content: "\f1fc";
}
.proicon-megaphone-loud::before {
  content: "\f1fd";
}
.proicon-megaphone::before {
  content: "\f1fe";
}
.proicon-mention::before {
  content: "\f1ff";
}
.proicon-menu::before {
  content: "\f200";
}
.proicon-microphone-off::before {
  content: "\f201";
}
.proicon-microphone::before {
  content: "\f202";
}
.proicon-microsoft-edge::before {
  content: "\f203";
}
.proicon-microsoft::before {
  content: "\f204";
}
.proicon-moon::before {
  content: "\f205";
}
.proicon-more-vertical::before {
  content: "\f206";
}
.proicon-more::before {
  content: "\f207";
}
.proicon-motherboard::before {
  content: "\f208";
}
.proicon-movie::before {
  content: "\f209";
}
.proicon-museum::before {
  content: "\f20a";
}
.proicon-music-note-2::before {
  content: "\f20b";
}
.proicon-music-note::before {
  content: "\f20c";
}
.proicon-narrator::before {
  content: "\f20d";
}
.proicon-note-add::before {
  content: "\f20e";
}
.proicon-note::before {
  content: "\f20f";
}
.proicon-octagon::before {
  content: "\f210";
}
.proicon-open::before {
  content: "\f211";
}
.proicon-page-margins::before {
  content: "\f212";
}
.proicon-paint-bucket-accent::before {
  content: "\f213";
}
.proicon-paint-bucket::before {
  content: "\f214";
}
.proicon-paintbrush-2::before {
  content: "\f215";
}
.proicon-paintbrush::before {
  content: "\f216";
}
.proicon-panel-left-contract::before {
  content: "\f217";
}
.proicon-panel-left-expand::before {
  content: "\f218";
}
.proicon-panel-left-open-1::before {
  content: "\f219";
}
.proicon-panel-left-open::before {
  content: "\f21a";
}
.proicon-panel-left::before {
  content: "\f21b";
}
.proicon-panel-right-contract::before {
  content: "\f21c";
}
.proicon-panel-right-expand::before {
  content: "\f21d";
}
.proicon-panel-right::before {
  content: "\f21e";
}
.proicon-pause::before {
  content: "\f21f";
}
.proicon-pdf-2::before {
  content: "\f220";
}
.proicon-pdf::before {
  content: "\f221";
}
.proicon-pencil::before {
  content: "\f222";
}
.proicon-pentagon::before {
  content: "\f223";
}
.proicon-person-2::before {
  content: "\f224";
}
.proicon-person-add-2::before {
  content: "\f225";
}
.proicon-person-add::before {
  content: "\f226";
}
.proicon-person-circle::before {
  content: "\f227";
}
.proicon-person-multiple::before {
  content: "\f228";
}
.proicon-person::before {
  content: "\f229";
}
.proicon-phone-accept::before {
  content: "\f22a";
}
.proicon-phone-hang-up::before {
  content: "\f22b";
}
.proicon-phone::before {
  content: "\f22c";
}
.proicon-photo-filter::before {
  content: "\f22d";
}
.proicon-photo::before {
  content: "\f22e";
}
.proicon-picture-in-picture-2::before {
  content: "\f22f";
}
.proicon-picture-in-picture-enter::before {
  content: "\f230";
}
.proicon-picture-in-picture-exit::before {
  content: "\f231";
}
.proicon-picture-in-picture::before {
  content: "\f232";
}
.proicon-pin-off::before {
  content: "\f233";
}
.proicon-pin::before {
  content: "\f234";
}
.proicon-play-circular::before {
  content: "\f235";
}
.proicon-play::before {
  content: "\f236";
}
.proicon-printer::before {
  content: "\f237";
}
.proicon-prohibited::before {
  content: "\f238";
}
.proicon-python::before {
  content: "\f239";
}
.proicon-qr-code::before {
  content: "\f23a";
}
.proicon-question-circle::before {
  content: "\f23b";
}
.proicon-question::before {
  content: "\f23c";
}
.proicon-quote::before {
  content: "\f23d";
}
.proicon-rectangle-wide::before {
  content: "\f23e";
}
.proicon-reverse::before {
  content: "\f23f";
}
.proicon-rhombus::before {
  content: "\f240";
}
.proicon-ribbon-star::before {
  content: "\f241";
}
.proicon-ribbon::before {
  content: "\f242";
}
.proicon-roblox::before {
  content: "\f243";
}
.proicon-ruler::before {
  content: "\f244";
}
.proicon-save-as::before {
  content: "\f245";
}
.proicon-save::before {
  content: "\f246";
}
.proicon-screen-size::before {
  content: "\f247";
}
.proicon-script-2::before {
  content: "\f248";
}
.proicon-script::before {
  content: "\f249";
}
.proicon-search::before {
  content: "\f24a";
}
.proicon-section-break::before {
  content: "\f24b";
}
.proicon-send::before {
  content: "\f24c";
}
.proicon-settings::before {
  content: "\f24d";
}
.proicon-shape-difference::before {
  content: "\f24e";
}
.proicon-shape-intersect::before {
  content: "\f24f";
}
.proicon-shape-subtract::before {
  content: "\f250";
}
.proicon-shape-union::before {
  content: "\f251";
}
.proicon-shield-cancel::before {
  content: "\f252";
}
.proicon-shield-checkmark::before {
  content: "\f253";
}
.proicon-shield-keyhole::before {
  content: "\f254";
}
.proicon-shield::before {
  content: "\f255";
}
.proicon-skull::before {
  content: "\f256";
}
.proicon-soundwave::before {
  content: "\f257";
}
.proicon-spacebar::before {
  content: "\f258";
}
.proicon-sparkle::before {
  content: "\f259";
}
.proicon-spinner::before {
  content: "\f25a";
}
.proicon-square::before {
  content: "\f25b";
}
.proicon-star::before {
  content: "\f25c";
}
.proicon-stroke-thickness::before {
  content: "\f25d";
}
.proicon-subtract::before {
  content: "\f25e";
}
.proicon-symbols::before {
  content: "\f25f";
}
.proicon-table-simple::before {
  content: "\f260";
}
.proicon-table::before {
  content: "\f261";
}
.proicon-tablet::before {
  content: "\f262";
}
.proicon-tag-accent::before {
  content: "\f263";
}
.proicon-tag-multiple--var::before {
  content: "\f264";
}
.proicon-tag-multiple::before {
  content: "\f265";
}
.proicon-tag::before {
  content: "\f266";
}
.proicon-task-list::before {
  content: "\f267";
}
.proicon-terminal::before {
  content: "\f268";
}
.proicon-text-add::before {
  content: "\f269";
}
.proicon-text-align-center::before {
  content: "\f26a";
}
.proicon-text-align-justify::before {
  content: "\f26b";
}
.proicon-text-align-left::before {
  content: "\f26c";
}
.proicon-text-align-right::before {
  content: "\f26d";
}
.proicon-text-bold::before {
  content: "\f26e";
}
.proicon-text-bullet-list-square-add::before {
  content: "\f26f";
}
.proicon-text-bullet-list-square::before {
  content: "\f270";
}
.proicon-text-bullet-list::before {
  content: "\f271";
}
.proicon-text-case-lowercase::before {
  content: "\f272";
}
.proicon-text-case-title::before {
  content: "\f273";
}
.proicon-text-case-uppercase::before {
  content: "\f274";
}
.proicon-text-clear-formatting::before {
  content: "\f275";
}
.proicon-text-collapse::before {
  content: "\f276";
}
.proicon-text-color-accent::before {
  content: "\f277";
}
.proicon-text-color::before {
  content: "\f278";
}
.proicon-text-edit-style::before {
  content: "\f279";
}
.proicon-text-effects::before {
  content: "\f27a";
}
.proicon-text-expand::before {
  content: "\f27b";
}
.proicon-text-font-size::before {
  content: "\f27c";
}
.proicon-text-font::before {
  content: "\f27d";
}
.proicon-text-footnote::before {
  content: "\f27e";
}
.proicon-text-highlight-color-accent::before {
  content: "\f27f";
}
.proicon-text-highlight-color::before {
  content: "\f280";
}
.proicon-text-indent-decrease::before {
  content: "\f281";
}
.proicon-text-indent-increase::before {
  content: "\f282";
}
.proicon-text-italic::before {
  content: "\f283";
}
.proicon-text-large::before {
  content: "\f284";
}
.proicon-text-letter-spacing::before {
  content: "\f285";
}
.proicon-text-line-height::before {
  content: "\f286";
}
.proicon-text-line-spacing::before {
  content: "\f287";
}
.proicon-text-number-list::before {
  content: "\f288";
}
.proicon-text-position-bottom::before {
  content: "\f289";
}
.proicon-text-position-middle::before {
  content: "\f28a";
}
.proicon-text-position-top::before {
  content: "\f28b";
}
.proicon-text-small::before {
  content: "\f28c";
}
.proicon-text-strikethrough::before {
  content: "\f28d";
}
.proicon-text-subscript::before {
  content: "\f28e";
}
.proicon-text-superscript::before {
  content: "\f28f";
}
.proicon-text-typography::before {
  content: "\f290";
}
.proicon-text-underline::before {
  content: "\f291";
}
.proicon-text::before {
  content: "\f292";
}
.proicon-thumbs-down::before {
  content: "\f293";
}
.proicon-thumbs-up::before {
  content: "\f294";
}
.proicon-tiktok::before {
  content: "\f295";
}
.proicon-timer::before {
  content: "\f296";
}
.proicon-toolbox::before {
  content: "\f297";
}
.proicon-triangle::before {
  content: "\f298";
}
.proicon-tune::before {
  content: "\f299";
}
.proicon-tv::before {
  content: "\f29a";
}
.proicon-vehicle-car::before {
  content: "\f29b";
}
.proicon-video-clip::before {
  content: "\f29c";
}
.proicon-video::before {
  content: "\f29d";
}
.proicon-visual-studio-code::before {
  content: "\f29e";
}
.proicon-volume-0::before {
  content: "\f29f";
}
.proicon-volume-1::before {
  content: "\f2a0";
}
.proicon-volume-mute::before {
  content: "\f2a1";
}
.proicon-volume::before {
  content: "\f2a2";
}
.proicon-watch::before {
  content: "\f2a3";
}
.proicon-weather-cloudy::before {
  content: "\f2a4";
}
.proicon-wi-fi::before {
  content: "\f2a5";
}
.proicon-window-multiple--var::before {
  content: "\f2a6";
}
.proicon-window-multiple::before {
  content: "\f2a7";
}
.proicon-window::before {
  content: "\f2a8";
}
.proicon-wrench::before {
  content: "\f2a9";
}
.proicon-x-twitter::before {
  content: "\f2aa";
}
.proicon-youtube-shorts::before {
  content: "\f2ab";
}
.proicon-youtube::before {
  content: "\f2ac";
}
.proicon-zoom-in::before {
  content: "\f2ad";
}
.proicon-zoom-out::before {
  content: "\f2ae";
}
