name: Publish packages to NPM

on:
  release:
    types: [published]

  workflow_dispatch:
    inputs:
      version:
        description: Version
        type: string
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      VERSION: ${{github.event.release.tag_name || inputs.version}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
          registries: '@proicons:https://registry.npmjs.org'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Bump version
        run: |
          bash ./bin/bumpVersion.sh $VERSION

      - name: Build packages
        run: |
          pnpm --filter './packages/*' run ci

      - name: Publish to NPM
        run: |
          pnpm --filter './packages/*' publish --no-git-checks
